# Cancelamento de Clientes - Telco (dataset criado pela IBM para demonstração da ferramenta IBM Cognos Analytics)

### Contém informações sobre uma empresa fictícia de telecomunicações que forneceu serviços de telefonia residencial e internet para 7043 clientes na Califórnia no 3º trimestre.

### Etapa de preparação do dado - Realizado por Sabrina Otoni da Silva - 2024/01

### Objetivo: Preparar o dado para a etapa de visualização e exploração do dado.

In [1]:
from pathlib import Path

import pandas as pd 

from sklearn.pipeline import Pipeline

import warnings
warnings.filterwarnings('ignore')

import sys
import os

automations_dir = os.path.join(os.getcwd(), '../automations')

if automations_dir not in sys.path:
    sys.path.append(automations_dir)

import data_processing as processing

In [2]:
datapath = Path('../data')
xlsx_path = Path(f'{datapath}/d01_raw/telco_customer_churn.xlsx')

In [3]:
data = pd.read_excel(f'{xlsx_path}' )
data.head()

,CustomerID,Count,Country,State,City,Zip Code,Lat Long,Latitude,Longitude,Gender,...,Contract,Paperless Billing,Payment Method,Monthly Charges,Total Charges,Churn Label,Churn Value,Churn Score,CLTV,Churn Reason
0,3668-QPYBK,1,United States,California,Los Angeles,90003,"33.964131, -118.272783",33.964131,-118.272783,Male,...,Month-to-month,Yes,Mailed check,53.85,108.15,Yes,1,86,3239,Competitor made better offer
1,9237-HQITU,1,United States,California,Los Angeles,90005,"34.059281, -118.30742",34.059281,-118.307420,Female,...,Month-to-month,Yes,Electronic check,70.70,151.65,Yes,1,67,2701,Moved
2,9305-CDSKC,1,United States,California,Los Angeles,90006,"34.048013, -118.293953",34.048013,-118.293953,Female,...,Month-to-month,Yes,Electronic check,99.65,820.5,Yes,1,86,5372,Moved
3,7892-POOKP,1,United States,California,Los Angeles,90010,"34.062125, -118.315709",34.062125,-118.315709,Female,...,Month-to-month,Yes,Electronic check,104.80,3046.05,Yes,1,84,5003,Moved
4,0280-XJGEX,1,United States,California,Los Angeles,90015,"34.039224, -118.266293",34.039224,-118.266293,Male,...,Month-to-month,Yes,Bank transfer (automatic),103.70,5036.3,Yes,1,89,5340,Competitor had better devices

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 33 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   CustomerID         7043 non-null   object
 1   Count              7043 non-null   int64
 2   Country            7043 non-null   object
 3   State              7043 non-null   object
 4   City               7043 non-null   object
 5   Zip Code           7043 non-null   int64
 6   Lat Long           7043 non-null   object
 7   Latitude           7043 non-null   float64
 8   Longitude          7043 non-null   float64
 9   Gender             7043 non-null   object
 10  Senior Citizen     7043 non-null   object
 11  Partner            7043 non-null   object
 12  Dependents         7043 non-null   object
 13  Tenure Months      7043 non-null   int64
 14  Phone Service      7043 non-null   object
 15  Multiple Lines     7043 non-null   object
 16  Internet Service   7043 non-null   object
 17  Online Security    7043 non-null   object
 18  Online Backup      7043 non-null   object
 19  Device Protection  7043 non-null   object
 20  Tech Support       7043 non-null   object
 21  Streaming TV       7043 non-null   object
 22  Streaming Movies   7043 non-null   object
 23  Contract           7043 non-null   object
 24  Paperless Billing  7043 non-null   object
 25  Payment Method     7043 non-null   object
 26  Monthly Charges    7043 non-null   float64
 27  Total Charges      7043 non-null   object
 28  Churn Label        7043 non-null   object
 29  Churn Value        7043 non-null   int64
 30  Churn Score        7043 non-null   int64
 31  CLTV               7043 non-null   int64
 32  Churn Reason       1869 non-null   object
dtypes: float64(3), int64(6), object(24)
memory usage: 1.8+ MB

In [5]:
data.loc[data['CustomerID'].duplicated()]

Empty DataFrame
Columns: [CustomerID, Count, Country, State, City, Zip Code, Lat Long, Latitude, Longitude, Gender, Senior Citizen, Partner, Dependents, Tenure Months, Phone Service, Multiple Lines, Internet Service, Online Security, Online Backup, Device Protection, Tech Support, Streaming TV, Streaming Movies, Contract, Paperless Billing, Payment Method, Monthly Charges, Total Charges, Churn Label, Churn Value, Churn Score, CLTV, Churn Reason]
Index: []

[0 rows x 33 columns]

Não há mais de uma linha para cada CustomerID, então é uma coluna que não vai agregar nas análises e nos tratamentos.

In [6]:
l1 = [len(str(i).split()) for i in data['Total Charges']]
l2 = [i for i in range(len(l1)) if l1[i] != 1]
print('Posições dos índices com espaços vazios: ',*l2)

Posições dos índices com espaços vazios:  2234 2438 2568 2667 2856 4331 4687 5104 5719 6772 6840

Verificação realizada por conta de que, na tentativa de transformar a coluna Total Charges em float, a seguinte mensagem apareceu: "could not convert string to float: ' '".

In [7]:
data.iloc[l2, :]

,CustomerID,Count,Country,State,City,Zip Code,Lat Long,Latitude,Longitude,Gender,...,Contract,Paperless Billing,Payment Method,Monthly Charges,Total Charges,Churn Label,Churn Value,Churn Score,CLTV,Churn Reason
2234,4472-LVYGI,1,United States,California,San Bernardino,92408,"34.084909, -117.258107",34.084909,-117.258107,Female,...,Two year,Yes,Bank transfer (automatic),52.55,,No,0,36,2578,NaN
2438,3115-CZMZD,1,United States,California,Independence,93526,"36.869584, -118.189241",36.869584,-118.189241,Male,...,Two year,No,Mailed check,20.25,,No,0,68,5504,NaN
2568,5709-LVOEQ,1,United States,California,San Mateo,94401,"37.590421, -122.306467",37.590421,-122.306467,Female,...,Two year,No,Mailed check,80.85,,No,0,45,2048,NaN
2667,4367-NUYAO,1,United States,California,Cupertino,95014,"37.306612, -122.080621",37.306612,-122.080621,Male,...,Two year,No,Mailed check,25.75,,No,0,48,4950,NaN
2856,1371-DWPAZ,1,United States,California,Redcrest,95569,"40.363446, -123.835041",40.363446,-123.835041,Female,...,Two year,No,Credit card (automatic),56.05,,No,0,30,4740,NaN
4331,7644-OMVMY,1,United States,California,Los Angeles,90029,"34.089953, -118.294824",34.089953,-118.294824,Male,...,Two year,No,Mailed check,19.85,,No,0,53,2019,NaN
4687,3213-VVOLG,1,United States,California,Sun City,92585,"33.739412, -117.173334",33.739412,-117.173334,Male,...,Two year,No,Mailed check,25.35,,No,0,49,2299,NaN
5104,2520-SGTTA,1,United States,California,Ben Lomond,95005,"37.078873, -122.090386",37.078873,-122.090386,Female,...,Two year,No,Mailed check,20.00,,No,0,27,3763,NaN
5719,2923-ARZLG,1,United States,California,La Verne,91750,"34.144703, -117.770299",34.144703,-117.770299,Male,...,One year,Yes,Mailed check,19.70,,No,0,69,4890,NaN
6772,4075-WKNIU,1,United States,California,Bell,90201,"33.970343, -118.171368",33.970343,-118.171368,Female,...,Two year,No,Mailed check,73.35,,No,0,44,2342,NaN
6840,2775-SEFEE,1,United States,California,Wilmington,90744,"33.782068, -118.262263",33.782068,-118.262263,Male,...,Two year,Yes,Bank transfer (automatic),61.90,,No,0,65,5188,NaN

In [8]:
print('True') if (data.loc[data['Tenure Months'] == 0].index == l2).all() else print('False')

True

Para todos os Total Charges vazios, a coluna Tenure Months está zerada, mas Monthly Charges contém valores. 
Essa verificação foi feita pois, caso ocorresse de Tenure Months não estar zerada, eu poderia apenas multiplicar Tenure Months com Monthly Charges para obter o valor de Total Charges.

In [9]:
data.loc[(data['Monthly Charges'].astype(str) == data['Total Charges'].astype(str)) & data['Tenure Months'] != 0, 'Count'].count()

581

Como existem muitas ocasiões de Monthly Charges serem iguais a Total Charges, e a coluna Tenure Months estar zerada só para os casos de valor nulo em Total Charges, o tratamento será feito duplicando o valor de Monthly Charges para Total Charges.

In [10]:
unique_values= {col: data[col].unique() for col in data.columns}
for col, values in unique_values.items():
    print(f'Valores na coluna "{col}": {values}')
    print('--------------------------------------')

Valores na coluna "CustomerID": ['3668-QPYBK' '9237-HQITU' '9305-CDSKC' ... '2234-XADUH' '4801-JZAZL'
 '3186-AJIEK']
--------------------------------------
Valores na coluna "Count": [1]
--------------------------------------
Valores na coluna "Country": ['United States']
--------------------------------------
Valores na coluna "State": ['California']
--------------------------------------
Valores na coluna "City": ['Los Angeles' 'Beverly Hills' 'Huntington Park' ... 'Standish' 'Tulelake'
 'Olympic Valley']
--------------------------------------
Valores na coluna "Zip Code": [90003 90005 90006 ... 96128 96134 96146]
--------------------------------------
Valores na coluna "Lat Long": ['33.964131, -118.272783' '34.059281, -118.30742' '34.048013, -118.293953'
 ... '40.346634, -120.386422' '41.813521, -121.492666'
 '39.191797, -120.212401']
--------------------------------------
Valores na coluna "Latitude": [33.964131 34.059281 34.048013 ... 40.346634 41.813521 39.191797]
--------------------------------------
Valores na coluna "Longitude": [-118.272783 -118.30742  -118.293953 ... -120.386422 -121.492666
 -120.212401]
--------------------------------------
Valores na coluna "Gender": ['Male' 'Female']
--------------------------------------
Valores na coluna "Senior Citizen": ['No' 'Yes']
--------------------------------------
Valores na coluna "Partner": ['No' 'Yes']
--------------------------------------
Valores na coluna "Dependents": ['No' 'Yes']
--------------------------------------
Valores na coluna "Tenure Months": [ 2  8 28 49 10  1 47 17  5 34 11 15 18  9  7 12 25 68 55 37  3 27 20  4
 58 53 13  6 19 59 16 52 24 32 38 54 43 63 21 69 22 61 60 48 40 23 39 35
 56 65 33 30 45 46 62 70 50 44 71 26 14 41 66 64 29 42 67 51 31 57 36 72
  0]
--------------------------------------
Valores na coluna "Phone Service": ['Yes' 'No']
--------------------------------------
Valores na coluna "Multiple Lines": ['No' 'Yes' 'No phone service']
--------------------------------------
Valores na coluna "Internet Service": ['DSL' 'Fiber optic' 'No']
--------------------------------------
Valores na coluna "Online Security": ['Yes' 'No' 'No internet service']
--------------------------------------
Valores na coluna "Online Backup": ['Yes' 'No' 'No internet service']
--------------------------------------
Valores na coluna "Device Protection": ['No' 'Yes' 'No internet service']
--------------------------------------
Valores na coluna "Tech Support": ['No' 'Yes' 'No internet service']
--------------------------------------
Valores na coluna "Streaming TV": ['No' 'Yes' 'No internet service']
--------------------------------------
Valores na coluna "Streaming Movies": ['No' 'Yes' 'No internet service']
--------------------------------------
Valores na coluna "Contract": ['Month-to-month' 'Two year' 'One year']
--------------------------------------
Valores na coluna "Paperless Billing": ['Yes' 'No']
--------------------------------------
Valores na coluna "Payment Method": ['Mailed check' 'Electronic check' 'Bank transfer (automatic)'
 'Credit card (automatic)']
--------------------------------------
Valores na coluna "Monthly Charges": [ 53.85  70.7   99.65 ... 108.35  63.1   78.7 ]
--------------------------------------
Valores na coluna "Total Charges": [108.15 151.65 820.5 ... 7362.9 346.45 6844.5]
--------------------------------------
Valores na coluna "Churn Label": ['Yes' 'No']
--------------------------------------
Valores na coluna "Churn Value": [1 0]
--------------------------------------
Valores na coluna "Churn Score": [ 86  67  84  89  78 100  92  77  97  74  66  65  70  90  82  69  81  96
  87  88  75  76  95  99  80  73  94  83  98  71  85  68  91  93  72  79
  27  61  43  51  58  39  35  57  53  21  38  40  41  22  25  64  49  62
  52  59  29  33  20  30  26  54  56  55  28  37   9  60  24  63  23  47
  32   8  46  42  48  36  34   7  50  44  31   5  45]
--------------------------------------
Valores na coluna "CLTV": [3239 2701 5372 ... 2770 4645 5553]
--------------------------------------
Valores na coluna "Churn Reason": ['Competitor made better offer' 'Moved' 'Competitor had better devices'
 'Competitor offered higher download speeds'
 'Competitor offered more data' 'Price too high' 'Product dissatisfaction'
 'Service dissatisfaction' 'Lack of self-service on Website'
 'Network reliability' 'Limited range of services'
 'Lack of affordable download/upload speed' 'Long distance charges'
 'Extra data charges' "Don't know" 'Poor expertise of online support'
 'Poor expertise of phone support' 'Attitude of service provider'
 'Attitude of support person' 'Deceased' nan]
--------------------------------------

In [11]:
data['Churn Reason'].isna().sum()

5174

A coluna Churn Reason não será retirada, pelo menos por enquanto, mesmo havendo muitos valores nulos.

Serão deletadas as colunas: 
- CustomerID (não vai agregar nas análises);
- Count (só contêm um valor, sem agregar em nada); 
- Country (se trata de dados apenas dos Estados Unidos);
- State (por serem dados apenas da California);
- Zip Code (não contribui para as análises);
- Lat Long (já existe uma coluna de latitude e uma de longitude, facilitando as plotagens);
- Churn Label (já existe a coluna Churn Value que diz a mesma coisa e já esta em formato binário para a classificação)
- Churn Score (é uma feature preditiva (probabilidade), calculada pela ferramenta IBM SPSS Modeler, por razões de data leakege e enviesamento de possíveis resultados errados, não estarei alimentando meu futuro modelo com ela);
- CLTV (também é uma feature preditiva, calculada usando dados existentes e algumas fórmulas não mencionadas pelo autor dos dados, quanto maior o número, mais valor tem o cliente, vou retirar por precaução de data leakege e enviesamento do modelo, e o intuito do projeto é justamente criar um modelo que faça esse trabalho).

In [12]:
pipeline = Pipeline([
    ('import_drop', processing.DropColumns(drop_columns=['CustomerID', 'Count', 'Country', 'State', 'Zip Code', 
                                                                             'Lat Long', 'Churn Label', 'Churn Score', 'CLTV'])),
    ('data_treatment', processing.DataTreat())
])

In [13]:
data = pipeline.transform(data)
data.head()

True

,City,Latitude,Longitude,Gender,Senior Citizen,Partner,Dependents,Tenure Months,Phone Service,Multiple Lines,...,Tech Support,Streaming TV,Streaming Movies,Contract,Paperless Billing,Payment Method,Monthly Charges,Total Charges,Churn Value,Churn Reason
0,Los Angeles,33.964131,-118.272783,Male,No,No,No,2,Yes,No,...,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,1,Competitor made better offer
1,Los Angeles,34.059281,-118.307420,Female,No,No,Yes,2,Yes,No,...,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,1,Moved
2,Los Angeles,34.048013,-118.293953,Female,No,No,Yes,8,Yes,Yes,...,No,Yes,Yes,Month-to-month,Yes,Electronic check,99.65,820.50,1,Moved
3,Los Angeles,34.062125,-118.315709,Female,No,Yes,Yes,28,Yes,Yes,...,Yes,Yes,Yes,Month-to-month,Yes,Electronic check,104.80,3046.05,1,Moved
4,Los Angeles,34.039224,-118.266293,Male,No,No,Yes,49,Yes,Yes,...,No,Yes,Yes,Month-to-month,Yes,Bank transfer (automatic),103.70,5036.30,1,Competitor had better devices

In [14]:
data.iloc[l2, :]

,City,Latitude,Longitude,Gender,Senior Citizen,Partner,Dependents,Tenure Months,Phone Service,Multiple Lines,...,Tech Support,Streaming TV,Streaming Movies,Contract,Paperless Billing,Payment Method,Monthly Charges,Total Charges,Churn Value,Churn Reason
2234,San Bernardino,34.084909,-117.258107,Female,No,Yes,No,0,No,No phone service,...,Yes,Yes,No,Two year,Yes,Bank transfer (automatic),52.55,52.55,0,NaN
2438,Independence,36.869584,-118.189241,Male,No,No,No,0,Yes,No,...,No internet service,No internet service,No internet service,Two year,No,Mailed check,20.25,20.25,0,NaN
2568,San Mateo,37.590421,-122.306467,Female,No,Yes,No,0,Yes,No,...,No,Yes,Yes,Two year,No,Mailed check,80.85,80.85,0,NaN
2667,Cupertino,37.306612,-122.080621,Male,No,Yes,Yes,0,Yes,Yes,...,No internet service,No internet service,No internet service,Two year,No,Mailed check,25.75,25.75,0,NaN
2856,Redcrest,40.363446,-123.835041,Female,No,Yes,No,0,No,No phone service,...,Yes,Yes,No,Two year,No,Credit card (automatic),56.05,56.05,0,NaN
4331,Los Angeles,34.089953,-118.294824,Male,No,Yes,Yes,0,Yes,No,...,No internet service,No internet service,No internet service,Two year,No,Mailed check,19.85,19.85,0,NaN
4687,Sun City,33.739412,-117.173334,Male,No,Yes,Yes,0,Yes,Yes,...,No internet service,No internet service,No internet service,Two year,No,Mailed check,25.35,25.35,0,NaN
5104,Ben Lomond,37.078873,-122.090386,Female,No,Yes,Yes,0,Yes,No,...,No internet service,No internet service,No internet service,Two year,No,Mailed check,20.00,20.00,0,NaN
5719,La Verne,34.144703,-117.770299,Male,No,Yes,Yes,0,Yes,No,...,No internet service,No internet service,No internet service,One year,Yes,Mailed check,19.70,19.70,0,NaN
6772,Bell,33.970343,-118.171368,Female,No,Yes,Yes,0,Yes,Yes,...,Yes,Yes,No,Two year,No,Mailed check,73.35,73.35,0,NaN
6840,Wilmington,33.782068,-118.262263,Male,No,No,Yes,0,Yes,Yes,...,Yes,No,No,Two year,Yes,Bank transfer (automatic),61.90,61.90,0,NaN

Tratamento na coluna Total Charges aplicado com sucesso.

In [15]:
data.to_excel(f'{datapath}/d02_intermediate/telco_customer_churn_v2.xlsx', index=False)

Arquivo salvo na pasta intermediária para uso da etapa de exploração do dado.